{% extends 'base.html.twig' %}

{% block title %}The District : Profil{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/profil.js" defer></script>
{% endblock %}

{% block body %}
<h2 class="text-center m-3">Profil de {{ user.nom }}, {{ user.prenom }}.</h2>

<h3 class="text-center mt-3">Historique des commandes</h3>

{# -------- #}

<div class="d-flex flex-row flex-wrap justify-content-center mt-3">
    {% for commandeWithTotal in commandesWithTotal %}
        <div class="card m-3 card_profil_commande" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Commande n°{{ commandeWithTotal.commande.id }}</h5>
                <p>Date : {{ commandeWithTotal.commande.dateCommande|date('d/m/Y') }}</p>
                <p>État : 
                    {% if commandeWithTotal.commande.etat == 0 %}
                        Enregistrée/Payée
                    {% elseif commandeWithTotal.commande.etat == 1 %}
                        En préparation
                    {% elseif commandeWithTotal.commande.etat == 2 %}
                        En cours de livraison
                    {% elseif commandeWithTotal.commande.etat == 3 %}
                        Livrée
                    {% endif %}
                </p>
                <p>Total : {{ commandeWithTotal.total }} €</p>
            </div>
        </div>
         {% else %}
       <h1 class="erreur_bdd text-danger">Aucune commande trouvée</h1>
    {% endfor %}
</div>
</div>

{# -------- #}

<div class="d-flex flex-column align-items-center justify-content-center mt-3" id="profil_edit_section">
    <h3 class="mt-3">Modifier son profil</h3>

    <form data-turbo="false" action="{{ path('app_profil_update') }}" method="POST">    
        <div class="d-flex flex-column align-items-center">
            {{ form_start(form) }}

    <div>
        <label for="{{ form.nom.vars.id }}">Nom</label>
        {{ form_widget(form.nom) }}
        {{ form_errors(form.nom) }}
    </div>

    <div>
        <label for="{{ form.prenom.vars.id }}">Prénom</label>
        {{ form_widget(form.prenom) }}
        {{ form_errors(form.prenom) }}
    </div>

    <div>
        <label for="{{ form.telephone.vars.id }}">Téléphone</label>
        {{ form_widget(form.telephone) }}
        {{ form_errors(form.telephone) }}
    </div>

    <div>
        <label for="{{ form.adresse.vars.id }}">Adresse</label>
        {{ form_widget(form.adresse) }}
        {{ form_errors(form.adresse) }}
    </div>

    <div>
        <label for="{{ form.cp.vars.id }}">Code postal</label>
        {{ form_widget(form.cp) }}
        {{ form_errors(form.cp) }}
    </div>

    <div>
        <label for="{{ form.ville.vars.id }}">Ville</label>
        {{ form_widget(form.ville) }}
        {{ form_errors(form.ville) }}
    </div>

        <br>

      <div>
    <label class="text-center d-block" for="{{ form.password.vars.id }}">Mot de passe actuel</label>
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }}
    </div>
    
    <button id="btn_update_profil" type="submit">Mettre à jour</button>

{{ form_end(form) }}
            
        </div> 
    </form>
</div>

{# -------- #}

<div class="d-flex flex-column align-items-center mt-3">
    <h3 class="texte-center mt-3">Supprimer son compte</h3>
    <form action="{{ path('app_profil_delete') }}" method="post" class="m-3">
        <button id="btn_delete_profil" class="btn btn-danger">Supprimer mon compte</button>
        <button type="submit" id="btn_confirm_profil" class="btn btn-danger d-none">Confirmer la suppression</button>
    </form>
</div>

{% endblock %}
