{% extends 'base.html.twig' %}

{% block title %}The District : Plats{% endblock %}

{% block body %}

<h2 class="m-3 text-center">Nos plats</h2>

{# ---------------------- #}

{% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message|raw }}
    </div>
{% endfor %}

{# ---------------------- #}

<section id="cards_index_plat_general" class="d-flex flex-row flex-wrap justify-content-center">

    {% for plat in plats %}
      
      <div class="cards_index_plat d-flex flex-column align-items-center" >
      
        <h3 class="text-center pt-1 pb-1 mt-2"> {{plat.libelle}} </h3>

        <div class="cards_index_plat_img overflow-hidden">
        <img src="{{ asset('/assets/img/food/' ~ plat.image) }}"  alt="Image {{plat.libelle}}"> 
        </div>

       <a class="btn_commande_plat" href="{{ path('app_plat_show', {'id': plat.id}) }}#commande_link">Commander</a>
      </div>

    {% else %}
       <h1 class="erreur_bdd text-danger"> Erreur dans le chargement des plats. </h1>
    {% endfor %}

</section>


{% endblock %}


