{% extends 'base.html.twig' %}

{% block title %}The District : Catégories{% endblock %}

{% block body %}

<section id="categories_section" class="d-flex flex-row flex-wrap justify-content-center">
<h2 class="m-3 text-center">Nos catégories et plats associés</h2>
    {% for category in categories %}
        <div class="cards_index_categories d-flex flex-column align-items-center">
            <h1 class="mt-3" id="link-cat-{{ category.id }}">{{ category.libelle }}</h1>
            <div class="cards_index_categories_content d-flex flex-row justify-content-center align-items-center">
                <div class="cards_index_categories_img">
                    <img src="{{ asset('/assets/img/category/' ~ category.image) }}" alt="Image {{ category.libelle }}"> 
                </div>
                <ul>
                    {% for plat in category.plats %}
                        <li>
                           <a href="{{ path('app_plat_show', {'id': plat.id}) }}#commande_link">{{ plat.libelle }} - {{ plat.prix }}€</a> 
                        </li>
                    {% else %}
                        <li>Aucun plat disponible pour cette catégorie.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <h1 class="erreur_bdd text-danger">Aucune catégorie trouvée.</h1>
    {% endfor %}
</section>


{% endblock %}
