<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href={{asset('/assets/img/the_district_brand/favicon.png')}} type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        

        {% if app.request.get('_route') in ['app_contact', 'app_auth', 'app_gestion'] %}
            <meta name="turbo-visit-control" content="reload">
        {% else %}
            <meta name="turbo-visit-control" content="off">
        {% endif %}
        
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

    </head>
    <body>
    
<nav class="font-title">
<div id="logo_mobile_container">
    <a href="{{ path('app_index') }}">
        <img src={{asset('assets/img/the_district_brand/nav_logo.svg') }} alt="Logo" id="logo_nav">
    </a>

 <div id="btn-nav-div">  
    <input type="checkbox" id="checkbox">
        <label for="checkbox" class="toggle">
            <div class="bars" id="bar1"></div>
            <div class="bars" id="bar2"></div>
            <div class="bars" id="bar3"></div>
        </label>
    </div>

<a id="cart_logo_mobile" href="{{ path('app_index') }}">
        <img src={{asset('/assets/img/logo/shoppinglogo.png')}} alt="Shopping Logo" id="shopping_nav">
    </a>

</div>
    <ul>
        <li><a href="{{ path('app_index') }}">Accueil</a></li>
        <li><a href="{{ path('app_categories') }}">Catégories</a></li>
        <li><a href="{{ path('app_plats') }}">Plats</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
        <li>
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
        </li>

    </ul>

    <a id="cart_logo_desktop" href="{{ path('app_panier') }}">
        <img  src={{asset('/assets/img/logo/shoppinglogo.png')}} alt="Shopping Logo" id="shopping_nav">
    </a>
</nav>

<div class="container">

<header class="mt-5 d-flex flex-column justify-content-center align-items-center">
    <a href="{{ path('app_index') }}">
        <img src="/assets/img/the_district_brand/logo_transparent.png" alt="Logo" id="logo_header">
    </a>
<input type="text" id="input_search" autocomplete="off" placeholder="Rechercher un plat...">
 
    <div id="search_result">

  </div>
</header>

        {% block body %}{% endblock %}

</div>

<footer>

    <div id="footer_container">

        <div id="footer_links_container" class="mt-3">
            <ul>
                <li><a href="{{ path('app_index') }}">Accueil</a></li>
                <li><a href="{{ path('app_categories') }}">Catégories</a></li>
                <li><a href="{{ path('app_plats') }}">Plats</a></li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
                <li>
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </li>

            </ul>
        </div>

        <div id="footer_social_container">
            <ul>
                <li><a href="https://www.facebook.com/"><img src={{asset('/assets/img/social_link/facebook_icon.svg')}} alt="Facebook" id="facebook"></a></li>
                <li><a href="https://www.instagram.com/"><img src={{asset('/assets/img/social_link/instagram_icon.svg')}} alt="Instagram" id="instagram"></a></li>
                <li><a href="https://www.twitter.com/"><img src={{asset('/assets/img/social_link/x_icon.svg')}} alt="Twitter" id="twitter"></a></li>
            </ul>
        </div>

    </div>

    <div id="footer_l-p_container">
        <ul>
        <li><a href="{{ path('app_politique_de_confidentialite')}}">Politique de confidentialité</a></li>
        <li><a href="{{ path('app_mentions_legales')}}">Mentions légales</a></li>
        </ul>
        <ul>
        <li> <a href="{{ path('app_apropos')}}">À propos</a></li>
        </ul>
    </div>

    <div id="footer_legal_container" class="mb-2 text-light">
        <p>&copy; 2025 The District. Tous droits réservés.</p>
    </div>

</footer>

     {% if is_granted('ROLE_CHEF') or is_granted('ROLE_ADMIN') %}
        <a class="btn_access" href="{{ path('app_gestion') }}">GESTION</a>
          {% endif %}


    </body>
</html>
